.button {
  @include font-medium();
  display: inline-block;
  min-width: 200px;
  height: 46px;
  font-size: 14px;
  line-height: 46px;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $base-color;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    border: 2px solid $main-font-color;
    background-color: $background-color;
  }
}
