$tablet-width: 768px;
$desktop-width: 1300px;
$main-font-color: #ffffff;
$base-font-color: #6c7279;
$base-title-color: #2d3033;
$background-color: #31354f;
$base-color: #e84545;
$base-hover: rgba(232, 69, 69, 0.9);
$opensans: "Open sans", arial, sans-serif;


