$tablet-width: 768px;
$desctop-width: 1440px;
$main-font-color: #ffffff;
$base-font-color: #6c7279;
$base-title-color: #2d3033;
$background-color: #31354f;
$base-color: #e84545;
$opensans: "Open sans", arial, sans-serif;


